$black: #000000;
$white: #ffffff;
$light: #e8e8e8;
$gray: #888888;
$dark: #333333;
$silver: #f0f0f0;

$body: #999999;
$shadow: #ffc888;
$input: #fffbdd;

$zBorder: #cacaca;
$zBorderFocus: #8a8a8a;
$disabledText: #999999;

$primary: #1779ba;
$secondary: #8c8c8c;
$success: #3adb76;
$warning: #e87608;
$alert: #cc4b37;
$selection: #e87608;