.preloader {
	display: flex;
	flex-direction: column;
  justify-content: center;
	min-height: 200px;
}

.preloader__title {
	color: $dark;
	margin-top: 1.5rem;
	font-size: 1.2rem;
	text-align: center;

	&.preloader__title_empty { display: none; }
}


/******************************************************************************

							POPUP

******************************************************************************/


.preloader_popup {
	align-items: center;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;

	.preloader__body {
		z-index: 101;
		margin-top: -5vh;
		padding: 1rem;
		background-color: $light;
		border-radius: 0.5rem;
	}
}




/******************************************************************************

																ТЁМНАЯ ТЕМА

******************************************************************************/

.theme_dark {
  .preloader_popup .preloader__body { background-color: $dark; }
  .preloader__title { color: $white; }
}